<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tunaweza.danse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FuegoDanse</name>
    <description>
        Fuego Dance is an application to help people to get fit through the dance !
	everyone can subscribe to this app, you need just to contact Sophia Bejok:sophiabejok@gmail.com
    </description>
    <author email="allysaidi64@gmail.com" href="http://cordova.io">
        SAIDI ALLY AZARIA and TUNAWEZA TEAM
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    	<icon density="ldpi" src="res/android/icon.png" />
    	<icon density="mdpi" src="res/android/icon.png" />
    	<icon density="hdpi" src="res/android/icon.png" />
    	<icon density="xhdpi" src="res/android/icon.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
	<icon density="ldpi" src="res/android/icon.png" />
    	<icon density="mdpi" src="res/android/icon.png" />
    	<icon density="hdpi" src="res/android/icon.png" />
    	<icon density="xhdpi" src="res/android/icon.png" />
    </platform>
</widget>
