@font-face {
    font-family: "comic sans";
    src: url("../fonts/ComicSansMS3.ttf");
   }
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family:'comic sans', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    
    height:100vh;
    margin:0px;
    padding:0px;
    color: #606060;
}
.app {
    background:url(../img/logo0.jpeg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
#tunaweza_first,#tunaweza_second {
    position: fixed !important;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    background-image:linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),url("../img/Dance.png");
    background-position:center top;
    background-size: cover;
   
}
#tunaweza_first{
   
    z-index: 4;
    padding-top: 25%;
    
}
#tunaweza_second{
    z-index: 3;
    /*border:5px solid red;*/
}
#tunaweza_third,#tunaweza_fourth{
    position: fixed !important;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}
#tunaweza_third .tunaweza_bar, #tunaweza_fourth .tunaweza_bar{
    position: fixed;
    width: 100%;
    height: 8%;
    padding-top: 10px;
    top: 0px;
    left: 0px;
    /*background: rgba(0,0,0,0.5);*/
    background: #ED008C;
}
#tunaweza_third .tunaweza_container_content,#tunaweza_fourth .tunaweza_container_content{
    position: fixed;
    top: 8%;
    left: 0px;
    width: 100%;
    height: 92%;
    background-image:linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),url("../img/Dance.png");
    background-position:center top;
    background-size: cover;
}
#tunaweza_content,#tunaweza_content_fourth{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(255,255, 255,0);
}
#tunaweza_second .tunaweza_nav{
    width: 100%;
    box-shadow: 0px 4px 15px#ccc;
}
.tunaweza_nav .tunaweza_nav_haut{
    width: 100%;
    height: 30%;
    background: #fff;
}
.tunaweza_nav .tunaweza_nav_bas{
    width: 100%;
    height: 40%;
    /*background:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background: #e9e0dc;*/
    background: #f7f7f7;
    /*border-bottom: 1px solid #8ca5d2;*/
    overflow: hidden;
    margin-left: 0px;

}
.tunaweza_nav .tunaweza_nav_bas .tunaweza_block{
    display: inline-block;
    width: 32.5%;
    height: 100%;
    /*border-right: 1px inset gray;
    border-left: 6% inset gray;
    /*background: gray;*/
    text-align: center;
}
.tunaweza_block a{
    display: block;
    text-align: center;
    line-height: 60px;
    /*background: red;*/
    height: 100%;
    font-size: medium;
    text-decoration: none;
    color: #606060;
}
.line_height{
    line-height: 100%;
}
.tunaweza_nav .tunaweza_nav_bar{
    width: 100%;
    background:#606060;
    height: 5px;
    overflow: hidden;
    /*border-bottom: solid rgba(255,255,255,.2)*/

}
.tunaweza_block_tail{
   
    display: block;
    min-height: 100px;
    /*border: red 1px solid;*/
    width: 100%;
}

.tunaweza_nav_bar .tunaweza_nav_bar_scroll{
    height: 100%;
    width: 33.33%;
    background: #f1592a;
    border-radius: 4px;
    border: 1px inset 8ca5d2;
    
}
.tunaweza_login{
    background: #ED008C;
    color: #fff;
    border-radius: 10px;
    border: none;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.tunaweza_button_menu{
    background: #ED008C;
    color: #fff;
    border-radius: 50px;
    border: none;
    width: 50%;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5%;
    font-family:'comic sans';
}
.initial_pl{
    margin-left: 0%;
}
.second_pl{
    margin-left: 10%;
}
.third_pl{
    margin-left: 25%;
}


.myapp {
    position:fixed;
    left:25%;
    top:35%;
    height:190px;                   /* text area height */
    width:225px; 
    border: 1px solid red;

}
.myapp .tunaweza_banderol{
    width: 100%;
    margin: auto;
}
.myapp .tunaweza_banderol img{
    width: 100%;
}
.tunaweza_absolute_middle{
    top:7px;
}

/*****ici commence le code css pour le contener de contenu****/
#tunaweza_second .tunaweza_contener_content{
    width: 300%;
    height: 100%;
    /*background: red;*/
}
/*.tunaweza_contener_content .tunaweza_content{
    display: inline-block;
    width: 33%;
    height: 100%;
    padding-left: 7px;

}*/

/*here we define css about message box*/
.bulle-container{
    width: 80%;
    border:1px solid #999;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, .4);
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgba(0,0,255,0.5);
    color: #fff;
    padding: 9px;
}
.bulle-container img, .bulle-container video{
    width:80%;
    margin-top: 14px;
    cursor: pointer;
}
.bulle-container .time{
    display: block;
    text-align: right;
    padding: 5px;
}